<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<listeners>
		<listener class-name="com.narnaul.utils.listeners.ExtentListeners">

		</listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.narnaul.testcases.CreateCustomerTest" />
			<class name="com.narnaul.testcases.TestParametrization" />
			<class name="com.narnaul.testcases.DataUtil" />
		</classes>
	</test><!-- Test -->
</suite> <!-- Suite -->
